In [1]:
import pandas as pd
import numpy as np

In [2]:
#Watermark is not required for this code, but is included for information. 
#import watermark
#%load_ext watermark
#%watermark -a "ELEANOR LUTZ" -d -v -iv -m

## Data Source
The data in this `CSV` file was manually entered by hand using W.H. Finlay's [Concise Catalog of Deep-sky Objects](https://www.springer.com/us/book/9781852338510) as a reference text. All objects in the book with a magnitude less than 6.5 was included in the `CSV` file.

In [3]:
df = pd.read_csv('./data/messier_ngc.csv')

df['ra_h'] = df['ra'].str.split("h ").str.get(0).astype(int)
df['ra_min'] = df['ra'].str.split("h ").str.get(1).str.replace("m", "").astype(float)
df['ra_original'] = df['ra'].copy()
df['ra'] = df['ra_h'] + df['ra_min']/60

df['dec_sign'] = df['dec'].str.get(0)
df['dec_degrees'] = np.abs(df['dec'].str.split("d").str.get(0).astype(int))
df['dec_seconds'] = df['dec'].str.split("d ").str.get(1).str.replace("'", "").astype(float)
df['dec_original'] = df['dec'].copy()
df['dec'] = df['dec_degrees'] + df['dec_seconds']/60
df['dec'] = df['dec_sign'] + df['dec'].astype(str)
df['dec'] = df['dec'].astype(float)
df.drop(['ra_h', 'ra_min', 'dec_sign', 'dec_degrees', 'dec_seconds'], axis=1, inplace=True)

print(df['type'].unique())
unicodes = {'open cluster': u"\u16b8", 'globular cluster': u"\u2724",
            'emission nebula': u"\u16e5", "star cloud": u"\u2388", "spiral galaxy": u"\u214f", 
            "planetary nebula": u"\u16bb", 'emission nebula, open cluster': u"\u25c8"}
df['code'] = df['type'].replace(unicodes)

df['name_2'] = df['proper_name'].replace(np.nan, df['name'])

df.to_csv('./data/processed/messier_ngc_processed.csv', index=False)
df.head()

['open cluster' 'globular cluster' 'emission nebula, open cluster'
 'emission nebula' 'star cloud' 'spiral galaxy']

ValueError: Series.replace cannot use dict-value and non-None to_replace

In [4]:
dfSorted = pd.read_csv('./data/processed/messier_ngc_processed.csv')
dfSorted = dfSorted[dfSorted['name'].isin(["M11", "M45", "M24", "M7", "M31", "M44", "M42", "M6", "M47", "M41", "M25"])] 
dfSorted.to_csv('./data/processed/messier_ngc_processed_sorted.csv', index=False)

dfSorted.head()

,name,type,ra,dec,magnitude,proper_name,ra_original,dec_original,code,name_2
0,M11,open cluster,18.851667,-6.266667,5.8,Wild Duck Cluster,18h 51.1m,-6d 16',ᚸ,Wild Duck Cluster
11,M24,star cloud,18.275000,-18.833333,4.6,Small Sagittarius Star Cloud,18h 16.5m,-18d 50',⎈,Small Sagittarius Star Cloud
12,M25,open cluster,18.530000,-19.116667,4.6,NaN,18h 31.8m,-19d 7',ᚸ,M25
14,M31,spiral galaxy,0.711667,41.266667,3.4,Andromeda Galaxy,00h 42.7m,+41d 16',⅏,Andromeda Galaxy
23,M41,open cluster,6.766667,-20.750000,4.5,NaN,6h 46m,-20d 45',ᚸ,M41